# Ignore vendor directory
vendor/

# Ignore Go specific files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore binary
/unimock 
/unimock_e2e.log
/.cursor.bak.*/
/.cursorignore.bak.*/
/.cursor/rules/go_guideline.mdc
/.cursor/rules/go_project_setup_guideline.mdc
/.cursor/rules/migration_to_prd_process_helper.mdc
/.cursor/rules/prd_workflow.mdc
/.cursor/rules/project_guidelines.mdc
/.cursor/rules/requirement_workflow.mdc
/.cursor/rules/task_workflow.mdc
/.cursor/rules/testing_guidelines.mdc
/.cursorignore
