# Ignore vendor directory
vendor/

# Ignore Go specific files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore binary
/unimock 
/unimock_e2e.log

# Cursor
/.cursor.bak.*/
/.cursorignore.bak.*/
/.cursor/rules/go_guideline.mdc
/.cursor/rules/go_project_setup_guideline.mdc
/.cursor/rules/migration_to_prd_process_helper.mdc
/.cursor/rules/prd_workflow.mdc
/.cursor/rules/project_guidelines.mdc
/.cursor/rules/requirement_workflow.mdc
/.cursor/rules/task_workflow.mdc
/.cursor/rules/testing_guidelines.mdc
/.cursorignore
/.cursor/rules/*.bak.*/

# Windsurf
/.windsurf.back/
/.windsurf/rules/ai_operational_guidelines.md
/.windsurf/rules/ai_tool_usage_code_editing.md
/.windsurf/rules/e2e_testing_guidelines.md
/.windsurf/rules/git_guidelines.md
/.windsurf/rules/go_guideline.md
/.windsurf/rules/go_project_setup_guideline.md
/.windsurf/rules/migration_to_prd_process_helper.md
/.windsurf/rules/prd_implementation_and_review.md
/.windsurf/rules/prd_setup_and_planning.md
/.windsurf/rules/prd_workflow.md
/.windsurf/rules/project_standards.md
/.windsurf/rules/requirement_workflow.md
/.windsurf/rules/task_workflow.md
/.windsurf/rules/test_design_and_execution.md
/.windsurf/rules/testing_fundamentals.md
/.windsurf/rules/unit_testing_guidelines.md
/.windsurfignore

# Claude
CLAUDE.md
/.claude

# Tests
unit-tests.xml
